{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>
  Copyright (C) 2019 Marwen Dallel <marwen.dallel@medtech.tn>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% extends 'base.html.twig' %}
{% import '_macros.html.twig' as macros %}

{% block title %}Edit {{ course.code }} {{ course.name }}{% endblock %}

{% block heading_title %}Edit <strong>{{ course.code }} {{ course.name }}</strong>{% endblock %}

{% block heading_extra %}
    <a class="btn btn-sm btn-primary" href="{{ path('course_index') }}">
        <i class="fas fa-angle-left fa-sm text-white-50"></i>
        Back to list
    </a>
    <a class="btn btn-sm btn-danger ml-2" href="#delete-element-modal-{{ course.id }}" data-toggle="modal">
        <i class="fas fa-trash fa-sm text-white-50"></i>
        Delete
    </a>
    {{ macros.delete_element('course_delete', course.id, 'Delete course',
    'Are you sure you want to delete <br> the \'' ~ course.name ~ '\' course?') }}
{% endblock %}

{% block body %}
    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
