{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>
  Copyright (C) 2019 Marwen Dallel <marwen.dallel@medtech.tn>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% extends 'base_auth.html.twig' %}

{% block title %}Log in - ABET Accreditation{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="card card-signin">
                    <div class="card-body mx-auto">
                        <form class="form-signin" method="post">
                            <img alt="MedTech Accreditation Logo" class="mx-auto d-block mb-4" src="{{ asset('/assets/img/logo-large.png') }}">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="row">
                                <label class="sr-only" for="inputEmail">Email address</label>
                                <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" value="{{ last_username }}" required="required" autofocus="autofocus">
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <label class="sr-only" for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                    <div class="input-group-append">
                                        <button toggle="#inputPassword" class="btn btn-outline-dark toggle-password" type="button">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="row">
                                <div class="checkbox mb-2">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                        <div>
                            Don't have an account? <a href="/register">Sign up <i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
