{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>
  Copyright (C) 2019 Marwen Dallel <marwen.dallel@medtech.tn>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% extends 'base_auth.html.twig' %}

{% block title %}Register - ABET Accreditation{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="card card-signin">
                    <div class="card-body mx-auto">
                        {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
                        <img alt="MedTech Accreditation Logo" class="mx-auto d-block mb-4" src="{{ asset('/assets/img/logo-large.png') }}">
                        <div class="row justify-content-around">
                            <div class="col mr-2">
                                {{ form_row(registrationForm.firstName, {'attr': {'placeholder': 'First name'}, 'label_attr': {'class': 'sr-only'}}) }}
                            </div>
                            <div class="col">
                                {{ form_row(registrationForm.lastName, {'attr': {'placeholder': 'Last name'}, 'label_attr': {'class': 'sr-only'}})}}
                            </div>
                        </div>
                        <div class="row">
                            {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Email address'}, 'label_attr': {'class': 'sr-only'}}) }}
                        </div>
                        <div class="row">
                            {{ form_row(registrationForm.roles, {'label_attr': {'class': 'sr-only'}}) }}
                        </div>
                        <div class="row">
                            {{ form_row(registrationForm.plainPassword) }}
                        </div>

                        <div class="row mt-3 text-center">
                            <button class="btn btn-primary btn-block" type="submit">Register</button>
                        </div>

                        <div class="mt-3">
                            Already have an account? <a href="/login">Login <i class="fas fa-external-link-alt"></i></a>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
