{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% extends 'base.html.twig' %}

{% block title %}Manage terms{% endblock %}

{% block heading_title %}Manage <strong>Terms</strong>{% endblock %}

{% block heading_extra %}
    <a class="btn btn-sm btn-primary ml-2" href="{{ path('term_course_index') }}">
        <i class="fas fa-book-open fa-sm text-white-50"></i>
        All term courses
    </a>
{% endblock %}

{% block body %}
    <div class="card p-4 mb-2" style="max-width:350px">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th class="text-center" style="width:100px">Term</th>
                    <th class="text-center" style="width:100px">Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for termYear in termYearList %}
                    <tr>
                        <td class="text-center align-middle">{{ termYear.term }}</td>
                        <td class="text-center align-middle">{{ termYear.year }}</td>
                        <td class="text-center align-middle">
                            <a class="btn btn-sm btn-primary" href="{{ path('term_course_index', {'term': termYear.term, 'year': termYear.year}) }}" data-toggle="tooltip" title="Term courses">
                                <i class="fas fa-book-open fa-sm text-white-50"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No terms found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
