{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>
  Copyright (C) 2019 Marwen Dallel <marwen.dallel@medtech.tn>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% extends 'base.html.twig' %}

{% block title %}Manage term courses{% if term is not null %}- {{ term }} {{ year }}{% endif %}{% endblock %}

{% block heading_title %}Manage <strong>Term courses{% if term is not null %} - {{ term }} {{ year }}{% endif %}</strong>{% endblock %}

{% block heading_extra %}
    {% if term is not null %}
    <a class="btn btn-sm btn-primary ml-2" href="{{ path('term_course_index') }}">
        <i class="fas fa-book-open fa-sm text-white-50"></i>
        All term courses
    </a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-sm btn-primary ml-2" href="{{ path('term_course_new', {'term': term, 'year': year}) }}">
            <i class="fas fa-plus fa-sm text-white-50"></i>
            New term course
        </a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        table td {
            position: relative !important
        }
        table td .dropdown {
            position:absolute;
            top:-.2rem;
            right:.2rem;
        }
        table td .dropdown .btn {
            line-height:1;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $('table td').hover(function(){
                $(this).find('.dropdown').show();
            }, function(){
                $(this).find('.dropdown').hide();
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="card p-4 mb-2">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        {% if term is null %}
                        <th class="text-center">Term</th>
                        <th class="text-center">Year</th>
                        {% endif %}
                        <th>Course</th>
                        <th>Course coordinator</th>
                        <th class="text-center align-middle">Syllabi</th>
                        <th class="text-center">Artifacts</th>
                        <th class="text-center">Outcomes</th>
                        <th>Course representative</th>
                        <th style="width:90px"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for termCourseInfo in termCourseInfos %}
                        <tr>
                            {% if term is null %}
                            <td class="text-center align-middle">{{ termCourseInfo.term }}</td>
                            <td class="text-center align-middle">{{ termCourseInfo.year }}</td>
                            {% endif %}
                            <td class="align-middle">{{ termCourseInfo.name.code }} {{ termCourseInfo.name.name }}</td>
                            <td class="align-middle">{{ termCourseInfo.coordinator.firstName }} {{ termCourseInfo.coordinator.lastName }}</td>

                            <td class="text-center align-middle">
                                {% if termCourseInfo.syllabiStatus == 'EMPTY' %}
                                    <span class="text-danger" data-toggle="tooltip" title="Not yet provided">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                {% elseif termCourseInfo.syllabiStatus == 'PENDING' %}
                                    <a class="text-warning" href="{{ asset('uploads/' ~ termCourseInfo.syllabi) }}" data-toggle="tooltip" title="Under validation">
                                        <i class="fas fa-pause-circle"></i>
                                    </a>
                                {% elseif termCourseInfo.syllabiStatus == 'VALIDATED' %}
                                    <a class="text-success" href="{{ asset('uploads/' ~ termCourseInfo.syllabi) }}" data-toggle="tooltip" title="Validated">
                                        <i class="fas fa-check-circle"></i>
                                    </a>
                                {% endif %}
                                <div class="dropdown" style="display: none;">
                                    <button class="btn btn-xs btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-down fa-xs text-white-50"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fas fa-comment fa-sm text-warning"></i> Comment</a>
                                        {% if termCourseInfo.syllabiStatus != 'EMPTY' %}
                                            <div class="dropdown-divider"></div>
                                            {% if termCourseInfo.syllabiStatus == 'PENDING' %}
                                            <a class="dropdown-item" href="{{ path('term_course_validate', {'id': termCourseInfo.id, 'document': 'syllabi', 'term': term, 'year': year}) }}">
                                                <i class="fas fa-check-circle fa-sm text-success"></i> Validate</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{{ path('term_course_unvalidate', {'id': termCourseInfo.id, 'document': 'syllabi', 'term': term, 'year': year}) }}">
                                                <i class="fas fa-times-circle fa-sm text-danger"></i> Unvalidate</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>

                            <td class="text-center align-middle">
                                {% if termCourseInfo.artifactsStatus == 'EMPTY' %}
                                    <span class="text-danger" data-toggle="tooltip" title="Not yet provided">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                {% elseif termCourseInfo.artifactsStatus == 'PENDING' %}
                                    <a class="text-warning" href="{{ asset('uploads/' ~ termCourseInfo.artifacts) }}" data-toggle="tooltip" title="Under validation">
                                        <i class="fas fa-pause-circle"></i>
                                    </a>
                                {% elseif termCourseInfo.artifactsStatus == 'VALIDATED' %}
                                    <a class="text-success" href="{{ asset('uploads/' ~ termCourseInfo.artifacts) }}" data-toggle="tooltip" title="Validated">
                                        <i class="fas fa-check-circle"></i>
                                    </a>
                                {% endif %}
                                <div class="dropdown" style="display: none;">
                                    <button class="btn btn-xs btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-down fa-xs text-white-50"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fas fa-comment fa-sm text-warning"></i> Comment</a>
                                        {% if termCourseInfo.artifactsStatus != 'EMPTY' %}
                                            <div class="dropdown-divider"></div>
                                            {% if termCourseInfo.artifactsStatus == 'PENDING' %}
                                            <a class="dropdown-item" href="{{ path('term_course_validate', {'id': termCourseInfo.id, 'document': 'artifacts', 'term': term, 'year': year}) }}">
                                                <i class="fas fa-check-circle fa-sm text-success"></i> Validate</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{{ path('term_course_unvalidate', {'id': termCourseInfo.id, 'document': 'artifacts', 'term': term, 'year': year}) }}">
                                                <i class="fas fa-times-circle fa-sm text-danger"></i> Unvalidate</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>

                            <td class="text-center align-middle">
                                {% if termCourseInfo.outcomesStatus == 'EMPTY' %}
                                    <span class="text-danger" data-toggle="tooltip" title="Not yet provided">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                {% elseif termCourseInfo.outcomesStatus == 'PENDING' %}
                                    <a class="text-warning" href="{{ asset('uploads/' ~ termCourseInfo.outcomes) }}" data-toggle="tooltip" title="Under validation">
                                        <i class="fas fa-pause-circle"></i>
                                    </a>
                                {% elseif termCourseInfo.outcomesStatus == 'VALIDATED' %}
                                    <a class="text-success" href="{{ asset('uploads/' ~ termCourseInfo.outcomes) }}" data-toggle="tooltip" title="Validated">
                                        <i class="fas fa-check-circle"></i>
                                    </a>
                                {% endif %}
                                <div class="dropdown" style="display: none;">
                                    <button class="btn btn-xs btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-chevron-down fa-xs text-white-50"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fas fa-comment fa-sm text-warning"></i> Comment</a>
                                        {% if termCourseInfo.outcomesStatus != 'EMPTY' %}
                                            <div class="dropdown-divider"></div>
                                            {% if termCourseInfo.outcomesStatus == 'PENDING' %}
                                            <a class="dropdown-item" href="{{ path('term_course_validate', {'id': termCourseInfo.id, 'document': 'outcomes', 'term': term, 'year': year}) }}">
                                                <i class="fas fa-check-circle fa-sm text-success"></i> Validate</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{{ path('term_course_unvalidate', {'id': termCourseInfo.id, 'document': 'outcomes', 'term': term, 'year': year}) }}">
                                                <i class="fas fa-times-circle fa-sm text-danger"></i> Unvalidate</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>

                            <td class="align-middle">{{ termCourseInfo.representativeFirstName }}
                                {{ termCourseInfo.representativeLastName }}</td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" href="{{ path('term_course_show', {'id': termCourseInfo.id}) }}" data-toggle="tooltip" title="Details">
                                    <i class="fas fa-info-circle fa-sm text-white-50"></i>
                                </a>
                                {% if is_granted('ROLE_ADMIN')or(app.user is same as(termCourseInfo.coordinator)) %}
                                    <a class="btn btn-sm btn-primary" href="{{ path('term_course_edit', {'id': termCourseInfo.id}) }}" data-toggle="tooltip" title="Edit">
                                        <i class="fas fa-edit fa-sm text-white-50"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">No term courses found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="card-deck justify-content-left mb-2">
            {% for termCourseInfo in termCourseInfos %}
                <div class="card mb-3" style="min-width:30%;">
                    <div class="card-header">
                        <a class="btn btn-sm btn-primary float-right" href="{{ path('term_course_edit', {'id': termCourseInfo.id}) }}" data-toggle="tooltip" title="Edit">
                            <i class="fas fa-edit fa-sm text-white-50"></i>
                        </a>
                        <a class="btn btn-sm btn-primary float-right mr-2" href="{{ path('term_course_show', {'id': termCourseInfo.id}) }}" data-toggle="tooltip" title="Details">
                            <i class="fas fa-info-circle fa-sm text-white-50"></i>
                        </a>
                        {{ termCourseInfo.name }}
                        <br>
                        <span style="font-size:80%">{{ termCourseInfo.term }} {{ termCourseInfo.year }}</span>

                    </div>
                    <div class="card-body">

                        <p class="card-text text-secondary">Course coordinator:
                            <span class="text-dark">{{ termCourseInfo.coordinator.firstName }} {{ termCourseInfo.coordinator.lastName }}</span>
                        </p>

                        <p class="card-text text-secondary">Syllabi:
                            {% if termCourseInfo.syllabiStatus == 'EMPTY' %}
                                <span class="text-danger">
                                    <i class="fas fa-exclamation-circle"></i> Not yet provided
                                </span>
                            {% elseif termCourseInfo.syllabiStatus == 'PENDING' %}
                                <a class="text-warning" href="{{ asset('uploads/' ~ termCourseInfo.syllabi) }}">
                                    <i class="fas fa-pause-circle"></i> Under validation
                                </a>
                            {% elseif termCourseInfo.syllabiStatus == 'VALIDATED' %}
                                <a class="text-success" href="{{ asset('uploads/' ~ termCourseInfo.syllabi) }}">
                                    <i class="fas fa-check-circle"></i> Validated
                                </a>
                            {% endif %}
                        </p>

                        <p class="card-text text-secondary">Artifacts:
                            {% if termCourseInfo.artifactsStatus == 'EMPTY' %}
                                <span class="text-danger">
                                    <i class="fas fa-exclamation-circle"></i> Not yet provided
                                </span>
                            {% elseif termCourseInfo.artifactsStatus == 'PENDING' %}
                                <a class="text-warning" href="{{ asset('uploads/' ~ termCourseInfo.artifacts) }}">
                                    <i class="fas fa-pause-circle"></i> Under validation
                                </a>
                            {% elseif termCourseInfo.artifactsStatus == 'VALIDATED' %}
                                <a class="text-success" href="{{ asset('uploads/' ~ termCourseInfo.artifacts) }}">
                                    <i class="fas fa-check-circle"></i> Validated
                                </a>
                            {% endif %}
                        </p>

                        <p class="card-text text-secondary">Outcomes:
                            {% if termCourseInfo.outcomesStatus == 'EMPTY' %}
                                <span class="text-danger">
                                    <i class="fas fa-exclamation-circle"></i> Not yet provided
                                </span>
                            {% elseif termCourseInfo.outcomesStatus == 'PENDING' %}
                                <a class="text-warning" href="{{ asset('uploads/' ~ termCourseInfo.outcomes) }}">
                                    <i class="fas fa-pause-circle"></i> Under validation
                                </a>
                            {% elseif termCourseInfo.outcomesStatus == 'VALIDATED' %}
                                <a class="text-success" href="{{ asset('uploads/' ~ termCourseInfo.outcomes) }}">
                                    <i class="fas fa-check-circle"></i> Validated
                                </a>
                            {% endif %}
                        </p>

                        <p class="card-text text-secondary">Course representative:
                            <span class="text-dark">{{ termCourseInfo.representativeFirstName }} {{ termCourseInfo.representativeLastName }}</span>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="mx-3">No term courses found</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
