#gitlab:hover {
    color: #F9512C;
    text-shadow:0px 0px 5px #F9512C;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: none;
    background-color: #1e2324;
    line-height: 46px;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  
#sticky-footer p {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

#sticky-footer a {
    text-decoration: none;
    color: #f96f39;
}