html,
body {
  height: 100%;
  font-size: 100%
}

body {
  background-color: #085581;
}

img {
  width: 90%;
  height: 90%;
}

#page-content {
  height:100%;
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 46px;
}

.card-signin {
  max-width: 22.375rem;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 1rem;
}

.form-signin .form-control:focus {
  z-index: 2;
}

#inputPassword {
  border-radius: 0.25rem 0 0 0.25rem
}

.btn-outline-dark {
  border-color: rgb(206, 212, 218);
}

.form-signin button[type="submit"] {
  line-height: 24px;
}

#role {
	height: auto;
}

.col {
	padding: 0 0 0 0;
}
.row {
	margin: 0 0 0.5rem 0;
}