
.card-columns {
  column-count: 2;
}

footer.sticky-footer {
    padding: 1rem 0;
}



.btn-xs, .btn-group-xs > .btn {
  padding: 0.1rem 0.2rem;
  font-size: 0.4rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-xs + .dropdown-toggle-split, .btn-group-xs > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-circle.btn-xs, .btn-group-xs > .btn-circle.btn {
  height: 1.8rem;
  width: 1.8rem;
  font-size: 0.75rem;
}

.btn-icon-split.btn-xs .icon, .btn-group-xs > .btn-icon-split.btn .icon {
  padding: 0.25rem 0.5rem;
}

.btn-icon-split.btn-xs .text, .btn-group-xs > .btn-icon-split.btn .text {
  padding: 0.25rem 0.5rem;
}
