{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% macro show_collapse(regex) %}
    {% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {{ route matches regex ? 'show' }}
{% endmacro %}

{% macro active_item(regex) %}
    {% set route = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {{ route matches regex ? 'active'}}
{% endmacro %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordion-sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">

        <div class="sidebar-brand-icon">
            <img alt="MedTech logo" class="mx-auto d-block" style="height:48px" src="{{ asset('/assets/img/logo-white.png') }}">
        </div>
        <div class="sidebar-brand-text mx-1">ABET Accreditation</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ _self.active_item(':^/$:') }}">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Study
    </div>

    <!-- Nav Item - Term courses Collapse Menu -->
    <li class="nav-item {{ _self.active_item(':^/term/.*:') }}">
        <a id="heading-terms" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-terms" aria-expanded="true" aria-controls="collapse-terms">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Terms</span>
        </a>
        <div id="collapse-terms" class="collapse {{ _self.show_collapse(':^/term/.*:') }}" aria-labelledby="heading-terms" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage terms</h6>
                <a class="collapse-item" href="{{ path('term_index') }}">
                    <i class="fas fa-fw fa-list"></i>
                    Term list</a>
                <a class="collapse-item" href="{{ path('term_course_index') }}">
                    <i class="fas fa-fw fa-book-open"></i>
                    Term course list</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="collapse-item" href="{{ path('term_course_new') }}">
                    <i class="fas fa-fw fa-plus"></i>
                    New term course</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        GENERAL
    </div>

    <!-- Nav Item - Courses Collapse Menu -->
    <li class="nav-item {{ _self.active_item(':^/course/.*:') }}">
        <a id="heading-course" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-course" aria-expanded="true" aria-controls="collapse-course">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Courses</span>
        </a>
        <div id="collapse-course" class="collapse {{ _self.show_collapse(':^/course/.*:') }}" aria-labelledby="heading-course" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage courses</h6>
                <a class="collapse-item" href="{{ path('course_index') }}">
                    <i class="fas fa-fw fa-list"></i>
                    Course list</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="collapse-item" href="{{ path('course_new') }}">
                    <i class="fas fa-fw fa-plus"></i>
                    New course</a>
                {% endif %}
            </div>
        </div>
    </li>

    {% if is_granted('ROLE_ADMIN') %}

    <!-- Nav Item - Users Collapse Menu -->
    <li class="nav-item {{ _self.active_item(':^/user/.*:') }}">
        <a id="heading-students" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-students" aria-expanded="true" aria-controls="collapse-students">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span>
        </a>
        <div id="collapse-students" class="collapse {{ _self.show_collapse(':^/user/.*:') }}" aria-labelledby="heading-students" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage users</h6>
                <a class="collapse-item" href="{{ path('user_index') }}">
                    <i class="fas fa-fw fa-list"></i>
                    Users list</a>
                <a class="collapse-item" href="{{ path('user_new') }}">
                    <i class="fas fa-fw fa-plus"></i>
                    Add user</a>
            </div>
        </div>
    </li>

    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
