{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}Welcome{% endblock %}
        </title>

        <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/favicon.ico') }}"/>

        <link href="{{ asset('assets/vendor/sb-admin-2/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('assets/vendor/sb-admin-2/css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this page -->
        <link href="{{ asset('assets/vendor/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

        <!-- Main stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            {{ include('_sidebar.html.twig') }}

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    {{ include('_topbar.html.twig') }}

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        {% block heading_wrapper %}
                            <div class="page-heading d-sm-flex align-items-center justify-content-between mb-4">
                                {% block heading %}
                                    <h1 class="h3 mb-0 flex-grow-1 text-gray-800">
                                        {% block heading_title %}
                                            {{ block('title') }}
                                        {% endblock %}
                                    </h1>
                                    {% block heading_extra %}{% endblock %}
                                {% endblock %}
                            </div>
                            {% block heading_details %}{% endblock %}
                        {% endblock %}

                        {% block body %}{% endblock %}

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                {{ include('_footer.html.twig') }}

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        {{ include('_logout_model.html.twig') }}

        {% block models %}{% endblock %}

        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('assets/vendor/sb-admin-2/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core plugin JavaScript -->
        <script src="{{ asset('assets/vendor/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Custom scripts for all pages -->
        <script src="{{ asset('assets/vendor/sb-admin-2/js/sb-admin-2.min.js') }}"></script>

        <!-- Main stylesheet -->
        <script src="{{ asset('assets/js/main.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
