{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}Welcome{% endblock %}
        </title>

        <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/favicon.ico') }}"/>

        <link href="{{ asset('assets/vendor/sb-admin-2/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('assets/vendor/sb-admin-2/css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Main stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

        <style>
            .sticky-footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                flex-shrink: none;
              }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>

    <body id="page-top">

        {% block body %}{% endblock %}

        <!-- Footer -->
        {{ include('_footer.html.twig') }}

        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('assets/vendor/sb-admin-2/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core plugin JavaScript -->
        <script src="{{ asset('assets/vendor/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Authentication JavaScript -->
        <script src="{{ asset('/assets/js/auth.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
