{#
  This file is part of the ABET accreditation platform:
  https://gitlab.com/GeeksFactory/abet-accreditation

  Copyright (C) 2019 Amine Ben Hassouna <amine.benhassouna@gmail.com>
  Copyright (C) 2019 Marwen Dallel <marwen.dallel@medtech.tn>

  This file is licensed under the Apache License, Version 2.0 (the "License")
  <LICENSE-APACHE> or the MIT license <LICENSE-MIT>, at your option.
  You may not use this file except in compliance with one of the two licenses.
  You should have received a copy of both the Apache License, Version 2.0 and
  the MIT license along with this project. If not, you may obtain a copy of
  the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
  and you may obtain a copy of the MIT license at
  https://opensource.org/licenses/MIT

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
#}

{% extends 'base.html.twig' %}

{% block title %}Manage users{% endblock %}

{% block heading_title %}Manage <strong>Users</strong>{% endblock %}

{% block heading_extra %}
    <a class="btn btn-sm btn-primary ml-2" href="{{ path('user_new') }}">
        <i class="fas fa-plus fa-sm text-white-50"></i>
        New user
    </a>
{% endblock %}

{% block body %}
    <div class="card p-4">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th style="width:90px"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="align-middle">{{ user.firstName }}</td>
                        <td class="align-middle">{{ user.lastName }}</td>
                        <td class="align-middle">{{ user.email }}</td>
                        <td class="align-middle">
                        {% for role in user.roles %}
                            {% if role != 'ROLE_USER' %}
                                {% if not loop.first %}, {% endif %}
                                {{ role | slice(5) | capitalize }}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-primary" href="{{ path('user_show', {'id': user.id}) }}" data-toggle="tooltip" title="Details">
                                <i class="fas fa-info-circle fa-sm text-white-50"></i>
                            </a>
                            <a class="btn btn-sm btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">
                                <i class="fas fa-edit fa-sm text-white-50" data-toggle="tooltip" title="Edit"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No users found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
